body {
    background: #f74010 url(img/random-grey-variations.png) no-repeat right top;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* background: linear-gradient(to right, #ffffff, #598be6); */
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}




.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.vertical-nav {
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: all 0.4s;
    padding: 0rem!important;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -15rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -15rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 15rem;
    width: calc(100% - 15rem);
  }
}
