body {
    background: #ffffff url(background/random-grey-variations.png);
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    font-family: "Tahoma", "Arial", "WenQuanYi Micro Hei", "STXihei", "华文细黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif;
}
li.nav-item.active {
    /* background: #d2d2d2!important; */
}
nav.navbar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.search {
    position: relative;
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-left: 20px;
}

.search .search-icon {
    float: none;
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
}

.search .search-input {
    background: #f5f5f5 url(/css/images/search-icon.png) no-repeat 9px center;
    text-indent: 33px;
    border: 1px solid #cccccc4a;
}

.search .search-clear {
    display: none;
}

.search .search-results {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 60px;
    right: auto;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    text-align: left;
    border-radius: 5px;
    background: #2d2d2d !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    list-style: cjk-ideographic;
}

.search .search-results .result-item {
     background: #ffffff;
    font-size: smaller;
    color: #3a3a3a;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

ul.nav.flex-column {
    text-align: center;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.vertical-nav {
    min-width: 14rem;
    width: 14rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 14rem);
    margin-left: 14rem;
    transition: all 0.4s;
    padding: 0.2rem!important;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -14rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -14rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 14rem;
    width: calc(100% - 14rem);
  }
}
