<!DOCTYPE html>
<html lang="en">
    <head>
   

        <!-- CSS -->
 
        <script src="http://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
      

    </head>
    <body>
    
        <div class="container">
            <h5>Minimal To-do List And Task Manager App</h5>
            <ul id="list-items"></ul>
            <form class="add-items">
                <input type="text" class="form-control" id="todo-list-item" placeholder="What do you need to do today?">
                <button class="add" type="submit">Add to List</button>
            </form>
        </div>
    <script>
$(document).ready(function () {

	$('#list-items').html(localStorage.getItem('listItems'));
    
	$('.add-items').submit(function(event) 
	{
		event.preventDefault();

		var item = $('#todo-list-item').val();

		if(item) 
		{
			$('#list-items').append("<li><input class='checkbox' type='checkbox'/>" + item + "<a class='remove'>x</a><hr></li>");
			
			localStorage.setItem('listItems', $('#list-items').html());
			
			$('#todo-list-item').val("");
		}
		
	});

	$(document).on('change', '.checkbox', function() 
	{
		if($(this).attr('checked')) 
		{
			$(this).removeAttr('checked');
		} 
		else 
		{
			$(this).attr('checked', 'checked');
		}

		$(this).parent().toggleClass('completed');
		
		localStorage.setItem('listItems', $('#list-items').html());
	});

	$(document).on('click', '.remove', function() 
	{
		$(this).parent().remove();
		
		localStorage.setItem('listItems', $('#list-items').html());
	});

});    </script>
    </body>
</html>
