<div class="col-xs-6 col-sm-6">
  <!-- Card -->
  <div class="card mb-4">

	    <!--Card image-->
	  <div class="view overlay">
      <article>
    {% if post.homedisplay == "iframe" %}

     
           
        {% if post.type == "youtube" %}
            {% if post.yt-video-id %}
                <div class="video_container">
                    <iframe src="https://www.youtube.com/embed/{{ post.yt-video-id }}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}

        {% else %}
            {% if post.featimg %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ post.featimg }}" alt="{{ post.featimg }}">
                </a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if post.type == "youtube" %}
            {% if post.yt-video-id %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="http://img.youtube.com/vi/{{ post.yt-video-id }}/0.jpg" alt="{{ post.title }} thumbnail">
                </a>
            {% endif %}
        {% else %}
          {% if post.img %}
				<a href='{{post.url}}'><img class='post-img' src="{{post.img}}" /></a>
		{% endif %}
    
            {% if post.featimg %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ post.featimg }}" alt="{{ post.featimg }}">
                </a>
            {% endif %}
        {% endif %}
	      
    {% endif %}
</div>

		   <!--Card content-->
    <div class="card-body">
     <a href='{{post.url}}'><h4 class='post-title'>{{post.title}}</h4></a>
	    
<div class="tags">
                    {% for tag in post.tags %}
                        <a class="btn btn-light-blue btn-md" role="button" href="{{site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                    {% endfor %}
                </div>
 
    <div class='post-content'>{{post.summary}}</div>
    <div class="date"><i class="fa fa-calendar"></i> {{ post.date | date: "%F" }}</div>
		</div>
	</div>  
</article>
</div>

