<div class="col-xs-6 col-sm-6">
  <!-- Card -->
  <div class="card mb-4">
	    <!--Card image-->
	  <div class="view overlay">
      <article>
	      
        {% if post.type == "youtube" %}
            {% if post.yt-video-id %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="http://img.youtube.com/vi/{{ post.yt-video-id }}/0.jpg" alt="{{ post.title }} thumbnail">
                </a>
            {% endif %}
   {% endif %}
	      
          {% if post.img %}
		<a href='{{post.url}}'><img class='post-img' src="{{post.img}}" /></a>
	  {% endif %}
    
          {% if post.featimg %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ post.featimg }}" alt="{{ post.featimg }}">
                </a>
            {% endif %}

    {% endif %}
</div>

		   <!--Card content-->
    <div class="card-body">
     <a href='{{post.url}}'><h4 class='post-title'>{{post.title}}</h4></a>
	    
    {% if post.tags %}
	    <a class="btn btn-light-blue btn-md" role="button" href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}" title="Tag: {{ tag }}" rel="tag"{{ tag | join: "/" }}>
          {{ post.tags }}</a> 
	   
    {% endif %}
 
    <div class='post-content'>{{post.summary}}</div>
    <div class="date"><i class="fa fa-calendar"></i> {{ post.date | date: '%B %d, %Y' }}</div>
		</div>
	</div>  
</article>
</div>

