<div class="back-to-top" id="1@#%^-bottom">
    <a href="#top" data-scroll>
        <i class="fa fa-arrow-up"></i>
    </a>
</div>

 <script>
       $(function(){

           $(window).scroll(function(){
                slideIn($(".back-to-top"),150);
           });


          function slideIn(obj,left){
              var targetHeight = obj.offset().top;   //目标元素到顶部的距离
              var scrollTop = $(window).scrollTop(); //页面滚动的距离

              if(scrollTop>targetHeight-400){
                   obj.animate({left:left+'px',opacity:1,filter:'Alpha(opacity=90)'},500);
              }
           };


       });
   </script>
