<footer>
    <section class="footer">
        <nav class="iconnav">
            <ul>

                {% if site.tumblr %}
                    <li class="social">
                        <a href="{{ site.tumblr }}" class="tumblr"><i class="fa fa-tumblr"></i></a>
                    </li>
                {% endif %}

                {% if site.instagram %}
                    <li class="social">
                        <a href="{{ site.instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                {% endif %}

                {% if site.twitter %}
                    <li class="social">
                        <a href="{{ site.twitter }}" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                {% endif %}

                {% if site.facebook %}
                    <li class="social">
                        <a href="{{ site.facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                {% endif %}

                {% if site.youtube %}
                    <li class="social">
                        <a href="{{ site.youtube }}" class="youtube"><i class="fa fa-youtube"></i></a>
                    </li>
                {% endif %}
               

            </ul>
        </nav>
        <a href='#menu' class="toggle_link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</section>
    
    <!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

 <script src="{{site.baseurl}}/js/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{{site.baseurl}}/js/nav_core.js"></script>
<!--pageContent-->
<script src="{{site.baseurl}}/js/bootstrap-toc.min.js"></script>

<!--totop-->
    <script src="{{site.baseurl}}/js/floating-totop-button.min.js"></script>
<script>
  $("body").toTopButton({});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</footer>
