<footer>
    <section class="footer">
        <nav class="iconnav">
            <ul>

                {% if site.tumblr %}
                    <li class="social">
                        <a href="{{ site.tumblr }}" class="tumblr"><i class="fa fa-tumblr"></i></a>
                    </li>
                {% endif %}

                {% if site.instagram %}
                    <li class="social">
                        <a href="{{ site.instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                {% endif %}

                {% if site.twitter %}
                    <li class="social">
                        <a href="{{ site.twitter }}" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                {% endif %}

                {% if site.facebook %}
                    <li class="social">
                        <a href="{{ site.facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                {% endif %}

                {% if site.youtube %}
                    <li class="social">
                        <a href="{{ site.youtube }}" class="youtube"><i class="fa fa-youtube"></i></a>
                    </li>
                {% endif %}
               

            </ul>
        </nav>
        <a href='#menu' class="toggle_link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</section>
    
    <!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

 <script src="{{site.baseurl}}/js/jquery-3.5.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{site.baseurl}}/js/nav_core.js"></script>
<!--pageContent-->
<script src="{{site.baseurl}}/js/bootstrap-toc.min.js"></script>
<!--search-->
<script src="{{site.baseurl}}/js/search.js"></script>
<!--dark-mode-style-->
<script src="{{site.baseurl}}/js/dark_mode_style.js"></script>

<!--ztree-->
	<script type="text/javascript" src="/js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="/js/jquery.ztree.exedit.js"></script>
	<SCRIPT type="text/javascript">
				<!--
		var setting = {
			data: {
				simpleData: {
					enable: true
				}
			}
		};

		var zNodes =[
			{ id:1, pId:0, name:"学习资源", open:true},
			{ id:11, pId:1, name:"anki 1-1", url:"http://ankich-res.ankichina.net/anki-apps/anki-2.1.22-windows.exe", target:"_blank"},
			{ id:12, pId:1, name:"叶子节点 1-2"},
			{ id:13, pId:1, name:"叶子节点 1-3"},
			{ id:2, pId:0, name:"父节点 2", open:false},
			{ id:21, pId:2, name:"叶子节点 2-1"},
			{ id:22, pId:2, name:"叶子节点 2-2"},
			{ id:23, pId:2, name:"叶子节点 2-3"},
			{ id:3, pId:0, name:"父节点 3", open:false},
			{ id:31, pId:3, name:"叶子节点 3-1"},
			{ id:32, pId:3, name:"叶子节点 3-2"},
			{ id:33, pId:3, name:"叶子节点 3-3"}
		];

		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});
		//-->
	</SCRIPT>


</footer>
