<meta charset="UTF-8">
<title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<link rel="stylesheet" href="{{ site.baseurl | replace: '//', '/' }}/css/main.css">

 <!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css">
 <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap-toc.css">

	<!-- fancybox灯箱 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="{{site.baseurl}}/css/gallery_style.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/responsive.css">
<!-- font -->
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl | prepend: site.url | replace: '//', '/' }}/feed.xml">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">


 <!--highlight-->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">

<link rel="stylesheet" href="{{site.baseurl}}/css/dark_mode_style.css" rel="stylesheet" />
 <!--nav-->
<link rel="stylesheet" href="{{site.baseurl}}/css/nav_core.css">
 <!--zTree-->
<link rel="stylesheet" href="/css/zTreeStyle.css" type="text/css">
<!-- Vertical navbar -->
<script>
try {
  fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function(response) {
    return true;
  }).catch(function(e) {
    var carbonScript = document.createElement("script");
    carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
    carbonScript.id = "_carbonads_js";
    document.getElementById("carbon-block").appendChild(carbonScript);
  });
} catch (error) {
  console.log(error);
}
</script>
