
            <!-- Content -->
<div class="sidebar side content sticky-top sticky-top-offset">
            
            <div class="card shadow-sm">
            <div class="widget">
                <div>
                    <i class="fa fa-list"></i>
                     目录
                </div>
            <nav id="toc" data-toggle="toc"></nav>
            </div>
            </div>    
           
            
            <div class="card shadow-sm">
            <div class="widget">
                <div>
                    <i class="fa fa-th-list"></i>
                    分类
                </div>

        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>
            
        {% for category in site.categories %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
            {% include main-loop-card.html %}
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

        {% endfor %}

        </div>
            </div>
            </div>  
              
           
            

            
            <div class="card shadow-sm">
            <div class="widget">
                 <div>
                    <i class="fa fa-tags"></i>
                    标签
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}
                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a class="sidebar" href="{{ root_url }}/{{ site.tab_dir }}#{{ tag[0] }}">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
                </div>
   </div>
        </div>
