<div class="sidebar">
    <div class="widget">
        <h3 class="title">分类</h3>
        <ul class="category_list">
            {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <h3 class="title">标签云</h3>
        <ul class="tag_list">
           <div class="tagCloud">
    {% for tag in site.tags %}
    <a href="#{{ tag | first }}">{{ tag | first }}</a>
    {% endfor %}
          </div>
     </div>

    <div class="widget">
        <h3 class="title">按作者</h3>
        <ul class="author_list">
            {% for author in site.data.authors %}
                <li>
                    <a href="{{ site.author_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ author.id }}">
                        {% if author.name %}
                            {{ author.name }}
                        {% else %}
                            {{ author.id }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
