---
title: '能无为'
layout: default
permalink: '/author-能无为.html'
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row align-items-center mb-5">
        <div class="col-md-9">
          <h2 class="font-weight-bold">
            {{page.title}}
            <span class="small btn btn-outline-success btn-sm btn-round"
              ><a href="{{ site.authors.author2.instagram }}">Follow</a></span
            >
          </h2>
          <p>
            <a href="{{ site.authors.author2.site }}"
              >{{ site.authors.author2.site }}</a
            >
          </p>
          <p class="excerpt">{{ site.authors.author2.bio }}</p>
        </div>
        <div class="col-md-list text-right">
          <img
            alt="{{ site.authors.author2.name }}"
            src="{{site.baseurl}}/{{ site.authors.author2.avatar }}"
            class="rounded-circle"
            height="100"
            width="100"
          />
        </div>
      </div>
      <h4 class="font-weight-bold spanborder">
        <span>Posts by {{page.title}}</span>
      </h4>
      {% assign posts = site.posts | where:"author","author2" %} {% for post in
      posts %} {% include main-loop-card.html %} {% endfor %}
    </div>
  </div>
</div>
