---
layout: default
title: 分类
permalink: /category/
icon: th-list
type: page
---
<div class="content_container">
         
        <div class="card shadow-sm">
        <h2>{{page.title}}</h2>
        <hr>
                  <article>
        <ul>
            {% for category in site.categories %}
            <h2 id="{{category | first}}">{{category | first}}</h2>
                {% for posts in category  %}
                    {% for post in posts %}
                        {% if post.url %}
                        <li>
                            <time>
                            {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                            </time>
                            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                            {% include category.html %}
                            {% include tag.html %}
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
     </article>
          </div>      
      </div>
  {% include sidebar.html %}
