---
layout: gallery
title: gallery
permalink: /gallery/
icon: gallery
type: page
---

<head>
	<!-- fancybox灯箱 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <!-- main css -->
<link rel="stylesheet" href="cs/gallery_style.css">
	
</head>

   <body>
	
	           <!--================Home Gallery Area =================-->   
        	<div class="container">
        		<div class="isotope_fillter">
        			         <ul class="gallery_filter list">
						<li class="active" data-filter=".all"><a href="#">所有</a></li>
						<li data-filter=".Architecture"><a href="#">建筑</a></li>
						<li data-filter=".people"><a href="#">人物</a></li>
						<li data-filter=".other"><a href="#">其他</a></li>
					</ul>
        		</div>
        	</div>
        	<div class="container box_1620">
        		<div class="gallery_f_inner row imageGallery1">
        			<div class="card-columns all">
        				<div class="h_gallery_item">
        					{% for post in site.categories.gallery %}
						<li class='post'>
                                                 {% for post in cat[1] %}
        					 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        					<div class="hover">
        						<a href="{{post.url}}"><h4 class='post-title'>{{post.title}}</h4></a>
							<div class='post-content'>{{post.summary}}</div>
        						<a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""><i class="fa fa-expand"></i></a>
        					</div>
        					{% endfor %}
        					{% endfor %}	
        					
        				</div>
        			</div>
        			<div class="card-columns Architecture">
        				<div class="h_gallery_item">
        					{% for image in site.static_files %}
                                                {% if image.path contains 'img/gallery/Architecture' %}
        					 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        					<div class="hover">
        						<a href="#"><h4>{{ site.baseurl }}{{ gallery.title }}</h4></a>
        						<a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""><i class="fa fa-expand"></i></a>
        					</div>
        					{% endif %}
        					{% endfor %}	
        	
        				</div>
        			</div>
        			<div class="card-columns people">
        				<div class="h_gallery_item">
        					{% for image in site.static_files %}
                                                {% if image.path contains 'img/gallery/people' %}
        					 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        					<div class="hover">
        						<a href="#"><h4>{{ site.baseurl }}{{ image.title }}</h4></a>
        						<a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""><i class="fa fa-expand"></i></a>
        					</div>
        					{% endif %}
        					{% endfor %}	
   
        
        				</div>
        			</div>
				 <div class="card-columns other">
        				<div class="h_gallery_item">
        					{% for image in site.static_files %}
                                                {% if image.path contains 'img/gallery/other' %}
        					 <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        					<div class="hover">
        						<a href="#"><h4>{{ site.baseurl }}{{ image.title }}</h4></a>
        						<a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""><i class="fa fa-expand"></i></a>
        					</div>
        					{% endif %}
        					{% endfor %}	
   
        
        				</div>
        			</div>
				
				
        	          </div>
        		</div>
        		<div class="button_more">
        			<a class="btn theme_btn" href="#">Load More Images</a>
        		</div>
   

        <!--================End Home Gallery Area =================-->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{{site.baseurl}}/js/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
      <script src="/js/isotope/imagesloaded.pkgd.min.js"></script>
      <script src="/js/isotope/isotope.pkgd.min.js"></script>
<script>
;(function($){
    "use strict"
	
	/*----------------------------------------------------*/
    /*  Isotope Fillter js
    /*----------------------------------------------------*/
	function gallery_isotope(){
        if ( $('.gallery_f_inner').length ){
            // Activate isotope in container
			$(".gallery_f_inner").imagesLoaded( function() {
                $(".gallery_f_inner").isotope({
                    layoutMode: 'fitRows',
                    animationOptions: {
                        duration: 750,
                        easing: 'linear'
                    }
                }); 
            });
			
            // Add isotope click function
            $(".gallery_filter li").on('click',function(){
                $(".gallery_filter li").removeClass("active");
                $(this).addClass("active");

                var selector = $(this).attr("data-filter");
                $(".gallery_f_inner").isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 450,
                        easing: "linear",
                        queue: false,
                    }
                });
                return false;
            });
        }
    }
    gallery_isotope();
})(jQuery)
</script>


</body>

</html>
