---
layout: gallery
title: gallery
permalink: /gallery/
icon: gallery
type: page
---

<head>
	<!-- fancybox灯箱 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	
</head>

   <body>
	           <!--================Home Gallery Area =================-->   
                   <div class="container">
        		<div class="isotope_fillter">
        			         <ul class="gallery_filter list">
						<li class="active" data-filter="*"><a href="#">所有</a></li>
						<li data-filter=".Architecture"><a href="#">建筑</a></li>
						<li data-filter=".people"><a href="#">人物</a></li>
						<li data-filter=".other"><a href="#">其他</a></li>
					 </ul>
        		</div>

			     	<!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row masonry">
          {% for image in site.static_files %}
    {% if image.path contains 'img/gallery/Architecture' %}
                <div class="mix col-lg-3 col-md-3 col-sm-6 Architecture">
                    <div class="item">
                        <a href="{{ site.baseurl }}{{ image.path }}" data-fancybox="gallery" class="image">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search-plus"></i></div></a></div>
                    </div>
   {% endif %}
         {% endfor %}
            </div>
    </section>

	    <section class="gallery no-padding">    
      <div class="row masonry">
          {% for image in site.static_files %}
    {% if image.path contains 'img/gallery/people' %}
                <div class="mix col-lg-3 col-md-3 col-sm-6 people">
                    <div class="item">
                        <a href="{{ site.baseurl }}{{ image.path }}" data-fancybox="gallery" class="image">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search-plus"></i></div></a></div>
                    </div>
   {% endif %}
         {% endfor %}
            </div>
    </section>
			    <section class="gallery no-padding">    
      <div class="row masonry">
          {% for image in site.static_files %}
    {% if image.path contains 'img/gallery/other' %}
                <div class="mix col-lg-3 col-md-3 col-sm-6 other">
                    <div class="item">
                        <a href="{{ site.baseurl }}{{ image.path }}" data-fancybox="gallery" class="image">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search-plus"></i></div></a></div>
                    </div>
   {% endif %}
         {% endfor %}
            </div>
    </section>
                       </div>

        		<div class="button_more">
        			<a class="btn theme_btn" href="#">Load More Images</a>
        		</div>
	
          </div>
        <!--================End Home Gallery Area =================-->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{{site.baseurl}}/js/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

      <script src="/js/isotope/isotope.pkgd.min.js"></script>
<script>
;(function($){
    "use strict"
	
	/*----------------------------------------------------*/
    /*  Isotope Fillter js
    /*----------------------------------------------------*/
	function gallery_isotope(){
        if ( $('.masonry').length ){
            // Activate isotope in container
			$(".gallery_f_inner").imagesLoaded( function() {
                $(".masonry").isotope({
                    layoutMode: 'fitRows',
                    animationOptions: {
                        duration: 750,
                        easing: 'linear'
                    }
                }); 
            });
			
            // Add isotope click function
            $(".gallery_filter li").on('click',function(){
                $(".gallery_filter li").removeClass("active");
                $(this).addClass("active");

                var selector = $(this).attr("data-filter");
                $(".masonry").isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 450,
                        easing: "linear",
                        queue: false,
                    }
                });
                return false;
            });
        }
    }
    gallery_isotope();
})(jQuery)
</script>
	   <!-- masonry plugin -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
	$(function(){
		$('.masonry').masonry({
			itemSelector: '.item'
		});
	});
</script>
	   <!-- solve picture overlap, add imagesLoaded -->
      <script src="/js/isotope/imagesloaded.pkgd.min.js"></script>
<script>
	$(function(){
		var $container = $('.masonry');
		$container.imagesLoaded(function(){
			$container.masonry({
				itemSelector: '.item'
			});
		});
	});
</script>
	      {% include loading.html %}
</body>

</html>
