
					
---
layout: gallery
title: gallery
permalink: /gallery/
icon: gallery
type: page
---

<head>
	<!-- fancybox灯箱 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	
</head>

   <body>
	           <!--================Home Gallery Area =================-->   
                   <div class="container">
        		<div class="isotope_fillter">
        			         <ul class="gallery_filter list">
						<li class="active" data-filter="*"><a href="#">所有</a></li>
						<li data-filter=".Ar"><a href="#">建筑</a></li>
						<li data-filter=".pe"><a href="#">人物</a></li>
						<li data-filter=".ot"><a href="#">其他</a></li>
					 </ul>
        		</div>
        	     <div class="row masonry">
			     	<div class="col-lg-3 col-md-4 col-sm-6 item">
					<div class="Ar">
        					{% for image in site.static_files %}
                                                {% if image.path contains 'img/gallery/Architecture' %}
				
        						<a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""></a>
        					{% endif %}
        					{% endfor %}
					</div>
        			</div>

				<div class="col-lg-3 col-md-4 col-sm-6 item">    
			         <div class="pe">	
        					{% for image in site.static_files %}
                                                {% if image.path contains 'img/gallery/people' %}
				 
        						<a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""></a>
        					{% endif %}
        					{% endfor %}
					 </div>
        			 </div>
 
				 <div class="col-lg-3 col-md-4 col-sm-6 item">
				 <div class="ot">	
        					{% for image in site.static_files %}
                                                {% if image.path contains 'img/gallery/other' %}
				 
					                <a data-fancybox="gallery" class="light" href="{{ site.baseurl }}{{ image.path }}">
							<img src="{{ site.baseurl }}{{ image.path }}" alt=""></a>
        					{% endif %}
        					{% endfor %}
					 </div>
        			  </div>

                       </div>

        		<div class="button_more">
        			<a class="btn theme_btn" href="#">Load More Images</a>
        		</div>
	
          </div>
        <!--================End Home Gallery Area =================-->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{{site.baseurl}}/js/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

      <script src="/js/isotope/isotope.pkgd.min.js"></script>
<script>
;(function($){
    "use strict"
	
	/*----------------------------------------------------*/
    /*  Isotope Fillter js
    /*----------------------------------------------------*/
	
            // Add isotope click function
            $(".gallery_filter li").on('click',function(){
                $(".gallery_filter li").removeClass("active");
                $(this).addClass("active");

                var selector = $(this).attr("data-filter");
                $(".masonry").isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 450,
                        easing: "linear",
                        queue: false,
                    }
                });
                return false;
            });
        }
    }
    gallery_isotope();
})(jQuery)
</script>
	   <!-- masonry plugin -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
	$(function(){
		$('.masonry').masonry({
			itemSelector: '.item'
		});
	});
</script>
	   <!-- solve picture overlap, add imagesLoaded -->
      <script src="/js/isotope/imagesloaded.pkgd.min.js"></script>
<script>
	$(function(){
		var $container = $('.masonry');
		$container.imagesLoaded(function(){
			$container.masonry({
				itemSelector: '.item'
			});
		});
	});
</script>
	      {% include loading.html %}
</body>

</html>
