---    
layout: index_alt
title: 所有文章
permalink: /tab/
icon: tab
type: page
---     

                <div class="section-content">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                              <li><a href="#tab1" class="active">全部</a></li>
                              <li><a href="#tab2">博客</a></li>
                              <li><a href="#tab3">视频</a></li>
                              <li><a href="#tab4">相片</a></li>
                            </ul>
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
					<div id='posts' class="card-columns">
        				<ul>
					  {% for cat in site.categories %}
					{% for post in cat[1] %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					{% endfor %}
				</ul>
                                </div></div>
                                <div id="tab2">
					<div id='posts' class="card-columns">
   				<ul>
		       {% for post in site.categories.blog %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>	
                                </div></div>
                                <div id="tab3">
					<div id='posts' class="card-columns">
     				<ul>
		       {% for post in site.categories.video %}
						<li class='post'>
							 {% if post.type == "youtube" %}
                                                 {% if post.yt-video-id %}
                                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                        <img src="http://img.youtube.com/vi/{{ post.yt-video-id }}/0.jpg" alt="{{ post.title }} thumbnail">
                                </a>
                                                         {% endif %}
						   {% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>	
                                </div></div>
                                <div id="tab4">
				
        <section id="thumbnails">{% for photo in site.photos %}
		 <li class='post'>
	<article>
		<a data-fancybox="gallery" href="{{ photo.image }}" data-position="left center"><img src="{{ photo.thumbnail }}" alt="" /></a>
		<h2>{{ photo.title }}</h2>
		<p>{{ photo.caption }}</p>
	</article></li>
{% endfor %}</section>
                                </div>
                            </section> 
                        </div>
                    </div>
                </div>

