<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
      {% seo %}
    </head>

    <body data-spy="scroll" data-target="#toc" class="wrapper">
             {% include Side_navigation.html %}
                    <!-- Content -->
            <div id="content" class="page-content p-5"> 
              <div class="col-md-12 container"> 
                {% include top_nav.html %}
          <section class="margin"> 
               <div class="wrap row">       
                    {{ content }}     
                </div>
          </section>
        
                  </div>  
        {% include footer.html %}   
             </div> 

    </body>
</html>

