---
layout: null
---

<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
      {% seo %}
    </head>

    <body data-spy="scroll" data-target="#toc" class="wrapper" data-target=".navbar" data-offset="50">
             {% include Side_navigation.html %}
                    <!-- Content -->
            <div id="content" class="page-content p-5">     
               <div class="col-md-12 container">
                  <section class="margin">
                    <div class="wrap row">  
                    {{ content }}
                    </div>     
               </div> 
                   </section>
             </div> 
        {% include footer.html %}   
    </body>
</html>
