<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="index">
       <header class="head">
           {% include nav.html %}
          
        </header>
 
        <section class="margin">
             {% include Side_navigation.html %}
            <div class="content">
                <p class="switch">切换主题：<span id="bootstrap">堆砌</span>&bull;<span id="grid">网格</span> &bull; <span id="classic">经典</span></p>
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="card-columns articles">
                    {{ content }}
                </div>
                {% include sidebar.html %}
            </div>
        </section>
        {% include footer.html %}
       
    </body>
</html>
