<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
    </head>

    <body class="index">
       <header class="head">
     
        </header>
 

             {% include Side_navigation.html %}
  <section class="margin">
            <div id="content" class="">           
                {% include top_nav.html %}
                
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="row">
         
                    {{ content }}
                </div>
            </div>
      </div>
 </section>
        {% include footer.html %}
       
    </body>
</html>
