<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="index">
       <header class="head">
           {% include nav.html %}
          
        </header>
 
        <section class="margin">
            <div class="content">
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="card-columns articles">
                    {{ content }}
                </div>
            
             {% include Side_navigation.html %}
            </div>
        </section>
        {% include footer.html %}
       
    </body>
</html>
