<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
     <div class="wrapper">
        <header class="head">
        {% include Side_navigation.html %}
          
        </header>
         
            <div id="content">
    
                {% include top_nav.html %}
                   <section class="margin">           
                <div class="content_container">
                    <div class="card shadow-sm">
                    <article>
                        {% if page.featimg %}
                            <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                        {% endif %}

                        <div class="post_content">
                            {{ content }}
                        </div>
                    </article>
                </div>
                {% include sidebar.html %}
            </div>
                </div>
      </section>
        {% include footer.html %}
    </body>
</html>
