---
layout: default
---

       
                <div class="content_container">
                    <div class="card shadow-sm">
                    <article>
                        {% if page.featimg %}
                            <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                        {% endif %}

                        <div class="post_content">
                            {{ content }}
                        </div>
                    </article>
                  </div>
              </div>
                {% include sidebar.html %}
           
                        {% include footer.html %}
          
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
