---
layout: default
---
   <div id="section4" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px;padding-left:70px;padding-right:70px;">
  		
				<ul>
					  {% for cat in site.categories %}
					{% for post in cat[1] %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
					{% endfor %}
				</ul>
		
</div>
	   <div id="section5" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px;padding-left:70px;padding-right:70px;">
   				<ul>
		       {% for post in site.categories.blog %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>	
</div>
<div id="section6" class="container-fluid bg-info" style="padding-top:70px;padding-bottom:70px;padding-left:70px;padding-right:70px;">
 			<ul>
		       {% for post in site.categories.photos %}
						<li class='post'>
							{% if post.image %}
								<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
					<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>

								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
			</ul>	
</div>
<div id="section7" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px;padding-left:70px;padding-right:70px;">
  <h1>Section 4 Submenu 7</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
