---
layout: default
---


            <div class="content full">
    
                      <section class="margin">
                <div class="content_container">
                    <article>
                        {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                                <div class="video_container">
                                    {{ page.vimeo-embed }}
                                </div>
                            {% endif %}
                        {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video_container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                                {{ page.audio-embed }}
                            {% endif %}
                        {% endif %}

                        <h1 class="post_title">
                            {{ page.title }}
                        </h1>
                        <div class="meta">
                          <a href="{{site.baseurl}}/author-{{ author[1].name | slugify }}">
            <h4 class="text-dark mb-0"> {{ author[1].name }} </h4>
                            <span class="date">
                                Published on {{ page.date | date: '%B %d, %Y' }}
                            </span>
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post_content">
                            {{ content }}
                        </div>
                        {% if page.category || page.tags %}
                        <div class="catsandtags">
                            {% if page.category %}
                            <p class="category">
                                <span class="name">Categories:</span>
                                {{ page.categories | category_links }}
                            </p>
                            {% endif %}
                            {% if page.tags %}
                            <p class="tags">
                                <span class="name">Tags:</span>
                                {% for tag in page.tags %}
                                  <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}">{{ tag | join: "/" }}</a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </article>
     
                </div>
            </div>
      </section>

     
