---
layout: default
---
    {% assign author = site.authors[page.author] %}
                <div class="content_container">
                    <div class="card shadow-sm">
                    <article>
			
                        {% if page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video_container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                            {% endif %}
                      
                       	  <h4 class="post_title">
                            {{ page.title }}
                          </h4>
			        			
		    
                        <div class="meta d-flex align-items-center">
                        {% if author.avatar %}
                        <img class="rounded-circle" src="/{{author.avatar}}" alt="{{author.name}}" width="70"/>
                        {% endif %}
						<small class="ml-3">{{ author.name }} <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>
                            <span class="text-muted d-block mt-1"><i class="fa fa-calendar"></i>{{ page.date | date: "%F" }} · 字数-{{ content | strip_html | strip_newlines | split: "" | size }} · 预计{% include meta-read-time.html %}</span>
						</small>
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post_content">
                            {{ content }}
			<hr data-content="AND" class="hr-text">
                        </div>
                        
                      
                        <div class="catsandtags">
                           
                            {% if page.tags %}
                            <p class="tags">
                                <span class="sidebar-tag-link">Tags:</span>
                                {% for tag in page.tags %}
                                  <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}">{{ tag | join: "/" }}</a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </article>
	     <!-- hr -->		    
     <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="mb-4">
     <!-- Dashed divider -->
                <hr class="dashed">
            </div>
            <div class="mb-4">

                <!-- Dotted divider -->
                <hr class="dotted">
            </div>
            <div class="mb-4">
   
                <!-- Solid divider -->
                <hr class="solid">
            </div>
            <div class="mb-4">
                <!-- Gradient divider -->
                <hr data-content="AND" class="hr-text">
            </div>
           
      
    </div>
</div>                            
			    
			    
       {% include related-posts.html %}      
                       <div class="post_nav">
                        {% if page.previous.url %}
                        <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i><span class="short">上一篇</span></a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">下一篇</span><i class="fa fa-angle-right"></i></a>
                        {% endif %}
                      </div>  
            </div> 
            </div> 
       
       {% include sidebar.html %}



