---
layout: default
---
                <div class="content_container">
                    <div class="card shadow-sm">
                    <article>
                        {% if page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video_container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                            {% endif %}
                      
                        <h2 class="post_title">
                            {{ page.title }}
                        </h2>
                        <div class="meta">
                       <a href="{{site.baseurl}}/author-{{ author[1].name | slugify }}">
            <h4 class="text-dark mb-0"> {{ author[1].name }} </h4>
                            <span class="date">
                                作于 {{ page.date | date: '%B %d, %Y' }}
                            </span>
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '', ''}}{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post_content">
                            {{ content }}
                        </div>
                        {% if page.category || page.tags %}
                        <div class="catsandtags">
                            {% if page.category %}
                            <p class="category">
                              <span class="name">Categories:</span>
                                {{ page.categories | category_links }}
                            </p>
                            {% endif %}
                            {% if page.tags %}
                            <p class="tags">
                                <span class="sidebar-tag-link">Tags:</span>
                                {% for tag in page.tags %}
                                  <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}">{{ tag | join: "/" }}</a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </article>
                                                                                                            
       {% include related-posts.html %}      
                       <div class="post_nav">
                        {% if page.previous.url %}
                        <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i><span class="short">上一篇</span></a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">下一篇</span><i class="fa fa-angle-right"></i></a>
                        {% endif %}
                      </div>  
            </div> 
            </div> 
       
       {% include sidebar.html %}

     </div>

